p{
    font-size: 15px;
}

/*Home*/

.navbar {
    border-bottom: 1px solid #1886C7;
}

.navbar .navbar-brand {
    color: #1886C7;
    font-size: 24px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 1) !important;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    transition: color .5s ease;
}

.nav-link:hover {
    color: #1886C7 !important;
}

#headerSection{
    background: url(../images/bg.jpg) no-repeat  center center fixed;
    background-size: cover;
    height: 100vh;
}

#headerSection .overlay{
    background-color: rgba(0, 0, 0, .7);
}

#headerSection .row{
    height: 100vh;
}

#headerSection span{
    color: #1886C7;
}

.btn-outline-primary{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    cursor: pointer;
}

/*Features Section*/

#features h3{
    font-size: 20px;
    font-weight: 500;
}

#features .fas, #features .fab{
    font-size: 40px;
}

.feature{
    transition: color .5s ease;
}

.feature:hover{
    color: #1886C7;
    cursor: pointer;
}

/*History Section*/

#ourHistory h2{
    font-size: 32px;
    font-weight: 500;
    color: #1886C7;
    text-transform: uppercase;
    border-left: 6px solid #1886C7;
    padding-left: 30px;
}

#ourHistory .col-sm-6{
    display: inline;
}

#ourHistory .btn-outline-primary{
    position: absolute;
    bottom: 0;
}

#ourHistory p{
    line-height: 28px;
}

/*Team Section*/

#team .card{
    border: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

#team .card:hover{
    opacity: 1;
}

#team .fab{
    font-size: 24px;
}

#team .card h3{
    font-weight: 500;
}

#team .card h4{
    font-size: 19px;
    font-weight: 400;
}

/*What We Do Section*/

#whatWeDo{
    background: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)),
        url(../images/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whatWeDo h2{
    color: #1886C7;
}

/*Case Study Section*/

#caseStudy {
    background-color: #f4f5f9;
    line-height: 28px;
}

.caseArea {
    background-color: #fff;
    margin-top: 40px;
    margin-right: -40px;
    z-index: 100;
    padding: 40px;
    position: relative;
    min-height: 420px;
}

.caseImage {
    margin-left: -40px;
}

#caseStudy h3{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #1886C7;
}

#caseStudy .fas{
    font-size: 40px;
    color: #1886C7;
}

/*Portfolio Section*/

#portfolio .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

#portfolio h4 {
    font-size: 16px;
    font-weight: 300;
}

#portfolio .fas {
    font-size: 24px;
    margin-bottom: 20px;
}

#portfolio p {
    font-size: 14px;
    font-weight: 300;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.imageOverlay {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #1886C7;
    opacity: 0;
    transition: 1s ease;
}

.imageContainer:hover , .imageOverlay:hover {
    opacity: .7;
}

.imageText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Testimonials Section*/

#testimonials {
    background: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)
    ),
        url(../images/testimonials-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.quote {
    color: rgba(24,134,199, .6);
    margin-bottom: 30px;
}

.carousel-item img {
    opacity: .2;
}

.carousel-caption{
    margin-bottom: 40px;
    line-height: 33px
}

.blockquote-footer {
    color: #1886C7;
}

.blockquote p{
    font-size: 20px;
}

/*Contact Section*/

#contact {
    background-color: #f4f5f9;
}

#contact h2{
    color: #1886C7;
}

#contact p{
    font-size: 18px;
}

#contact .input-group-addon {
    width: 50px;
    border-radius: 0;
    color: #fff;
    background-color: #1886C7;
}

#contact .form-control, #contact .btn{
    border-radius: 0;
}

/*Footer*/

footer span{
    font-weight: 500;
    cursor: default;
}